@font-face {
    font-family: 'alibabaPuHuiTi';
    src: url('../fonts/Alibaba-PuHuiTi-Regular.ttf') format('truetype'),
    url('../fonts/Alibaba-PuHuiTi-Medium.eot?#iefix') format('embedded-opentype');/*IE 需要加验证*/
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.container {
    height: 100%;
}

.layui-fluid {
    padding: 0;
    height: 100%;
}

.custom-bg {
    width: 100%;
    background: url(../images/home_image_head.jpg);
    background-size: cover;
}

/* 窄屏显示 */
.main-nav {
    height: 70px;
    padding: 8px;
    cursor: pointer;
    width: 1440px;
    margin: 0 auto;
    float: none;
    font-family: alibabaPuHuiTi, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Microsoft YaHei;
}

.sub-nav {
    background: rgba(2, 91, 0, 0.7);

}

.sub-nav p {
    font-size: 20px;
    font-family: alibabaPuHuiTi, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Microsoft YaHei;
}

.nav-panel-ul {
    overflow: auto;
    padding: 15px 0;
}

.nav-panel-ul li {
    float: left;
    font-size: 16px;
    padding: 0 15px;
}

.nav-panel-ul li a {
    color: #fff;
}

.nav-panel-ul li a:hover {
    color: #fff000;
}

.nav-panel-ul li.selected a {
    color: #fff000;
}

.nav-panel-user {
    padding: 15px 0;
    overflow: auto;
}

.nav-panel-user div {
    margin: 0 20px 0 0;
    float: left;
}

.usericon {
    line-height: 23px;
    color: #fff;
}

.usericon span {
    float: left;
}

.usericon a {
    color: #fff;
    width: 145px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.usericon a:hover {
    color: #fff000;
}

.sub-nav ul {
    overflow: auto;
    padding: 5px 20px;
    width: 1440px;
    margin: 0 auto;
}

.sub-nav ul li {
    float: left;
    margin-left: 40px;
}

.sub-nav ul li:first-child {
    margin-left: 8px;
}

.sub-nav ul li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

.sub-nav ul li a:hover {
    background: #30b254;
    border: 1px solid #fff;
}

.sub-nav ul li.selected a {
    background: #30b254;
    border: 1px solid #fff;
}

.main-panel {
    width: 100%;
    overflow: auto;
    background: #f7f7f7;
    position: relative;
}

.main-content {
    background: #f7f7f7;
    padding: 10px 0 10px 30px;
}

.contentW {
    width: 1440px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

.tool-panel {
    overflow: auto;
    padding-bottom: 24px;
    border-bottom: 1px solid #d7d7d7;
}

.tool-panel .title {
    margin-top: 8px;
}

.tool-panel .title .cn {
    color: #30b254;
    font-size: 48px;
    font-family: alibabaPuHuiTi, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Microsoft YaHei;
    font-weight: bold;
}

.tool-panel .title .en {
    color: #979797;
    font-size: 24px;
    margin-left: 30px;
    font-family: alibabaPuHuiTi, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Microsoft YaHei;
}

.search-panel {
    position: relative;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background: #fff;
    overflow: auto;
    margin-top: 20px;
}
.search-panel:hover{
    border: 1px solid #30b254;
}

.search-panel input {
    outline: none;
    border: none;
    height: 40px;
    padding-left: 20px;
    color: #979797;
    width: 85%;
}

.search-panel .layui-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
.sys-ul-panel{
    overflow: auto;
    margin-bottom: 30px;
}
.sys-ul-panel ul{
    width: 33.33%;
    float: left;
}
.sys-ul-panel li {
    margin-top: 30px;
}

.sys-ul-panel li a {
    color: #676767;
    font-size: 16px;
}

.sys-ul-panel li a:hover {
    color: #30b254;
    cursor: pointer;
}

.txt {
    margin-left: 10px;
    vertical-align: middle;
}
.showRightBtn{
    position: absolute;
    top: 50%;
    right: 0;
}
.right-nav {
    height: 100%;
    background: #ffffff;
    position: absolute;
    right: 0px;
    top: 0;
}

.right-nav ul {
    padding: 40px;
}

.right-nav ul li {
    font-size: 16px;
    margin-bottom: 30px;
}

.right-nav ul li a {
    cursor: pointer;
    color: #676767;
}

.right-nav ul li a:hover {
    color: #30b254;
}

.right-nav ul li a i {
    font-weight: bold;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.logo_panel img {
    width: 90%;
}

/* icon */
span[class^="icon-"] {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.icon-cropfarming {
    background: url(../images/home_icon_cropfarming.png) no-repeat center;
}

.icon-breeding {
    background: url(../images/home_icon_breeding.png) no-repeat center;
}

.icon-mechanical {
    background: url(../images/home_icon_mechanical.png) no-repeat center;
}

.icon-povertyalleviation {
    background: url(../images/home_icon_povertyalleviation.png) no-repeat center;
}

.icon-revitalize {
    background: url(../images/home_icon_revitalize.png) no-repeat center;
}

.icon-safety {
    background: url(../images/home_icon_safety.png) no-repeat center;
}

.icon-lawenforcement {
    background: url(../images/home_icon_lawenforcement.png) no-repeat center;
}

.icon-policy {
    background: url(../images/home_icon_policy.png) no-repeat center;
}

.icon-other {
    background: url(../images/home_icon_other.png) no-repeat center;
}

i[class^="icon-"] {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.icon-search {
    background: url(../images/home_icon_search_normal.png) no-repeat center;
}

.icon-search:hover {
    cursor: pointer;
    background: url(../images/home_icon_search.png) no-repeat center;
}

.icon-cellphone {
    background: url(../images/home_icon_system_normal.png) no-repeat center;
}

.sys-ul-panel li a:hover .icon-cellphone {
    background: url(../images/home_icon_system_selected.png) no-repeat center;
}

.icon-notice {
    background: url(../images/home_icon_notice.png) no-repeat center;
}

.icon-upcoming {
    background: url(../images/home_icon_upcoming.png) no-repeat center;
}

.icon-help {
    background: url(../images/home_icon_help.png) no-repeat center;
}

.icon-link {
    background: url(../images/home_icon_link.png) no-repeat center;
}